.header {
    height: auto;
    width: 100%;
    background-color: #1F3044;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-buttons{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 20px 60px 20px 10px;
}

#sketchpad{
    color: white;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.draw {
    width: 20px;
    height: 20px;
}

.erase {
    width: 20px;
    height: 20px;
    color: black;
}

.clear{
    width: 20px;
    height: 20px;
}

p {
    color: white;
}

.bodys {
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-container{
    background-color: #ffffff;
    margin: 50px;
    width: 500px;
    height: 550px;
    display: grid;
    box-sizing: border-box; /* Include padding and border in the width/height */
    overflow: hidden;
    border: 0.5px solid #000;
}

.div-created{
    border: 1px solid lightgray;
    user-select: none;
}

